.Official{
display: block;
font-family: arial;
margin: auto;
margin-top: 125px;
background-color: white;
border: none;
font-size: 33px;
margin-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
padding-bottom: 0px;
line-height: 23px;
}

.Website {
    text-align: center;
    margin-bottom: 0px;
}

.ImgMain {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 420px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.musicall {
    text-align: center;
    margin-top: -1px;
    margin-right: 318px;
}
.music { 
    cursor: crosshair;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 200px;
    font-size: 33px;
    transition: background-color 0.2s;
    transition: color 0.2s;
    transition: font-size 0.4s;
    margin-bottom: 2px;
}
.Times {
    font-style: italic;
}
.music:hover {
    background-color: black;
    color: rgb(0, 255, 13);
    font-size: 35px;
}
.instagram2 {
    text-align: center;
    margin-top: -42px;
    margin-left: 15px;
    margin-bottom: 0px;
}
.instagram {
    display: inline-block;
    cursor: crosshair;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    font-size: 33px;
    font-family: arial;
    transition: background-color 0.2s;
    transition: color 0.2s;
    transition: font-size 0.4s;
    margin-bottom: 2px;
}
.instagram:hover {
    background-color: black;
    color: rgb(0, 255, 13);
    font-size: 35px;
}
.youtube2 {
    text-align: center;
    margin-top: 0px;
    margin-left: -265px;
    margin-bottom: 0px;
}
.youtube {
    cursor: crosshair;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    font-size: 33px;
    font-family: arial;
    font-style: italic;
    transition: background-color 0.2s;
    transition: color 0.2s;
    transition: width 0.4s;
    transition: height 0.4s;
    transition: font-size 0.4s;
}
.youtube:hover {
    background-color: black;
    color: rgb(0, 255, 13);
    font-size: 35px;
}
.photos2 {
    text-align: center;
    margin-top: -40px;
    margin-left: 70px;
    margin-bottom: 0px;
}
.PHOTOS {
    cursor: crosshair;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    font-size: 33px;
    font-family: arial;
    transition: background-color 0.2s;
    transition: color 0.2s;
    transition: width 0.4s;
    transition: height 0.4s;
    transition: font-size 0.4s;
}
.PHOTOS:hover {
    background-color: black;
    color: rgb(0, 255, 13);
    font-size: 35px;
}
.allbuttons {
    margin-left: 100px;
}
.home2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.home {
    font-family: arial;
    font-size: 100px;
    text-decoration: none;
    display: inline-block;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: -0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
}
.body {
    padding: 0px;
    margin: 8px;
}
