html {
    margin-top: 83px;
    margin-left: 156px;
    margin-right: 156px;
    margin-bottom: 83px;
    background-color: black;
}
html, body {
    height: 100%; 
    width: 100%; 
    margin: 0; 
}
.text-right {
    position: relative;
    float: right;
    display: block;
    width: 50%;
    height: 82%;
    padding-right: 156px;
    padding-top: 83px;
    padding-bottom: 83px;
}
.Structure {
    position: relative;
    float: left;
    display: block;
    width: 33%;
    height: 82%;
    padding-top: 83px;
    padding-left: 156px;
    padding-bottom: 83px;
}
.logo {
    position: relative;
    float: left;
    width: 35%;
    height: 35%;
    padding-top: 83px;
    padding-left: 156px;
    padding-bottom: 100px;
}